# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/projectSettingsUpdater.xml
/.idea.FPSProject.iml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../../:\Meus Documentos\My Stuff\Unity\FPSProject\.idea\.idea.FPSProject\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
